*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body{
    background-image: url(./images/pattern-bg-desktop.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.img{
    object-fit: contain;
    width: auto;
    height: auto;
}
